@import './var';
// TODO: 變數存放
$LEVEL: (
    // EMERGENCY: #FF0000,
    // WARNING: #FF9A16,
    // NORMAL: #212529
    EMERGENCY: $red,
    WARNING: $orange,
    NORMAL: transparent
);

$BASIC-SIZE: 1rem; // 16px
$BASE-ICON-SIZE: 14px;
$BASE-IMG-SIZE: 20px;
// $BASIC-PADDING-SIZE: 5px; // 0.25rem: 4px
$BASIC-PADDING-SIZE: 5; // 0.25rem: 4px
$BASIC-MARGIN-SIZE: 5; // 0.25rem: 4px
// NOTE: 字體變數
$FONT-FAMILY:century gothic;
$FONT-WEIGHT-100: 100;
$FONT-WEIGHT-200: 200;
$FONT-WEIGHT-300: 300;
$FONT-WEIGHT-400: 400;
$FONT-WEIGHT-500: 500;
$FONT-WEIGHT-600: 600;
$FONT-WEIGHT-700: 700;
$FONT-WEIGHT-800: 800;
$FONT-WEIGHT-900: 900;

$LINE-HEIGHT: 1.5;
$FONT-SIZE: (
    XS:0.75rem, // 12px
    SM:0.875rem, // 14px 
    BASE:1rem, // 16px 
    LG:1.125rem, // 18px 
    XL:1.25rem, // 20px 
    2XL:1.5rem, // 24px 
    3XL:1.875rem, // 30px 
    4XL:2.25rem, // 36px 
    5XL:3rem, // 48px 
    6XL:3.75rem, // 60px 
    7XL:4.5rem, // 72px 
    8XL:6rem, // 96px 
    9XL:8rem, // 128px 
    // MIN: 0.75*$BASIC-SIZE, // 12px
    // BASE: 1*$BASIC-SIZE, // 16px
    // XS: 1.25*$BASIC-SIZE, // 20px
    // S: 1.5*$BASIC-SIZE, // 24px
    // M: 1.75*$BASIC-SIZE, // 28px
    // LG: 2*$BASIC-SIZE, // 32px
    // XL: 2.5*$BASIC-SIZE, // 40px
);


// TODO: 共用屬性

// NOTE: 開關顯示相關
[class*="pilot_lamp"] {
    border-radius: 100%;
    width: 14px;
    height: 14px;
}
.pilot_lamp.off {
    background-color: $red;
}
.pilot_lamp.on {
    background-color: $green;
}
// NOTE: 顏色相關
.bgc-shadow {
    box-shadow: inset 0px 0px 3px #9e9e9e;
}
.w-50px,
.width-50px {
    width: 50px;
}

.bgc-red {
    background-color: #f00;
}

.bgc-gray {
    background-color: #CBD5DF;
}

.bgc-level-emer,
.bgc-level-emergency,
.background-color-level-emergency {
    background-color: map-get($map: $LEVEL, $key: EMERGENCY) !important;
    color: $beige;
}
.bgc-level-warn,
.bgc-level-warning,
.background-color-level-warning {
    background-color: map-get($map: $LEVEL, $key: WARNING) !important;
    color: $beige;
}

.c-level-emer,
.c-level-emergency,
.color-level-emergency {
    color: map-get($map: $LEVEL, $key: EMERGENCY);
}
.c-level-warn,
.c-level-warning,
.color-level-warning {
    color: map-get($map: $LEVEL, $key: WARNING);
}
.c-level-normal,
.color-level-normal {
    color: map-get($map: $LEVEL, $key: NORMAL);
}

.bgc-trans,
.bgc-transparent,
.background-color-transparent {
    background-color: transparent; 
}
.bgc-curr, 
.bgc-current, 
.background-color-current {
    background-color: currentColor; 
}
.c-trans,
.c-transparent,
.color-transparent {
    color: transparent;
}
.c-curr,
.c-currentColor,
.color-currentColor {
    color: currentColor;
}

// NOTE: 附加文字 & 單位相關
// ✏*:  ---------〖From  components - 必填欄位〗---------
.field-required {
    &::before {
        content: '*';
        color: red;
        font-size: 24px;
        vertical-align: middle;
    }
}

.unit-required::before {
    content: '*';
}

.unit-degrees::after,
.unit-temp::after {
    content: "\2103";
    font-size: 12px;
}

.unit-percent::after,
.unit-humid::after {
    content: "\0025";
    font-size: 12px;
}

.unit-vital::after,
.unit-breath::after {
    content: "BPM";
    // letter-spacing: 0px;
    letter-spacing: -1px;
    font-size: 12px;
    padding-right: 2px;
    
}



// NOTE: 變形相關
// trf transform:;
// trf:r transform: rotate(angle);
// trf:rx transform: rotateX(angle);
// trf:ry transform: rotateY(angle);
// trf:rz transform: rotateZ(angle);
// trf:sc transform: scale(x, y);
// trf:sc3 transform: scale3d(x, y, z);
// trf:scx transform: scaleX(x);
// trf:scy transform: scaleY(y);
// trf:scz transform: scaleZ(z);
// trf:skx transform: skewX(angle);
// trf:sky transform: skewY(angle);
// trf:t transform: translate(x, y);
// trf:t3 transform: translate3d(tx, ty, tz);
// trf:tx transform: translateX(x);
// trf:ty transform: translateY(y);
// trf:tz transform: translateZ(z);
// trfo transform-origin:;
// trfs transform-style:preserve-3d;
// trs transition:prop time;
// trsde transition-delay:time;
// trsdu transition-duration:time;
// trsp transition-property:prop;
// trstf transition-timing-function:tfunc;
.trf-r-0,
.transform-rotate-0 {
    transform: rotate(0deg);
}
.trf-r-360,
.transform-rotate-360 {
    transform: rotate(360deg);
}
.trf-r-45,
.transform-rotate-45 {
    transform: rotate(45deg);
}
.trf-r--45,
.transform-rotate--45 {
    transform: rotate(-45deg);
}
.trf-r-90,
.transform-rotate-90 {
    transform: rotate(90deg);
}
.trf-r--90,
.transform-rotate--90 {
    transform: rotate(-90deg);
}
.trf-r-180,
.transform-rotate-180 {
    transform: rotate(180deg);
}
.trf-r--180,
.transform-rotate--180 {
    transform: rotate(-180deg);
}
.trf-r-270,
.transform-rotate-270 {
    transform: rotate(270deg);
}
.trf-r--270,
.transform-rotate--270 {
    transform: rotate(-270deg);
}



// NOTE: 捲軸相關
// 測試屬性
// *::-webkit-scrollbar { // 捲軸背景
//     width: map-get($map: $SCROLL-LIST, $key: WIDTH);
//     height: map-get($map: $SCROLL-LIST, $key: HEIGHT);
//     background-color: map-get($map: $SCROLL-LIST, $key: BGC-COLOR-GRAY);
// }
// *::-webkit-scrollbar-thumb { // 滾動條
//     background-color: map-get($map: $SCROLL-LIST, $key: BGC-COLOR-DARK);
// }


// NOTE: overflow相關
.v-v, .visibility-visible { visibility: visible; }
.v-h, .visibility-hidden { visibility: hidden; }
.v-c, .visibility-collapse { visibility: collapse; }
.ov-v, .overflow-visible { overflow: visible; }
.ov-h, .overflow-hidden { overflow: hidden; }
.ov-s, .overflow-scroll { overflow: scroll; }
.ov-a, .overflow-auto { overflow: auto; }
.ovx-h, .overflow-x-hidden { overflow-x: hidden; }
.ovx-v, .overflow-x-visible { overflow-x: visible; }
.ovx-h, .overflow-x-hidden { overflow-x: hidden; }
.ovx-s, .overflow-x-scroll { overflow-x: scroll; }
.ovx-a, .overflow-x-auto { overflow-x: auto; }
.ovy-v, .overflow-y-visible { overflow-y: visible; }
.ovy-h, .overflow-y-hidden { overflow-y: hidden; }
.ovy-s, .overflow-y-scroll { overflow-y: scroll; }
.ovy-a, .overflow-y-auto { overflow-y: auto; }
.ovs-a, .overflow-style-auto { overflow-style: auto; }
.ovs-s, .overflow-style-scrollbar { overflow-style: scrollbar; }
.ovs-p, .overflow-style-panner { overflow-style: panner; }
.ovs-m, .overflow-style-move { overflow-style: move; }
.ovs-mq, .overflow-style-marquee { overflow-style: marquee; }

// NOTE: 高度、寬度相關
.w-0, .width-0 { width: 0%; }
.w-5, .width-5 { width: 5%; }
.w-10, .width-10 { width: 10%; }
.w-15, .width-15 { width: 15%; }
.w-20, .width-20 { width: 20%; }
.w-25, .width-25 { width: 25%; }
.w-30, .width-30 { width: 30%; }
.w-35, .width-35 { width: 35%; }
.w-40, .width-40 { width: 40%; }
.w-45, .width-45 { width: 45%; }
.w-50, .width-50 { width: 50%; }
.w-55, .width-55 { width: 55%; }
.w-60, .width-60 { width: 60%; }
.w-65, .width-65 { width: 65%; }
.w-70, .width-70 { width: 70%; }
.w-75, .width-75 { width: 75%; }
.w-80, .width-80 { width: 80%; }
.w-85, .width-85 { width: 85%; }
.w-90, .width-90 { width: 90%; }
.w-95, .width-95 { width: 95%; }

.w-100,
.w-full,
.width-100,
.width-full {
    width: 100%;
}
.w-fit,
.width-fit {
    width: fit-content;
}
.w-max,
.width-max {
    width: max-content;
}
.w-min,
.width-min {
    width: min-content;
}

.min-w-0, .min-width-0 { min-width: 0%; }
.min-w-5, .min-width-5 { min-width: 5%; }
.min-w-10, .min-width-10 { min-width: 10%; }
.min-w-15, .min-width-15 { min-width: 15%; }
.min-w-20, .min-width-20 { min-width: 20%; }
.min-w-25, .min-width-25 { min-width: 25%; }
.min-w-30, .min-width-30 { min-width: 30%; }
.min-w-35, .min-width-35 { min-width: 35%; }
.min-w-40, .min-width-40 { min-width: 40%; }
.min-w-45, .min-width-45 { min-width: 45%; }
.min-w-50, .min-width-50 { min-width: 50%; }
.min-w-55, .min-width-55 { min-width: 55%; }
.min-w-60, .min-width-60 { min-width: 60%; }
.min-w-65, .min-width-65 { min-width: 65%; }
.min-w-70, .min-width-70 { min-width: 70%; }
.min-w-75, .min-width-75 { min-width: 75%; }
.min-w-80, .min-width-80 { min-width: 80%; }
.min-w-85, .min-width-85 { min-width: 85%; }
.min-w-90, .min-width-90 { min-width: 90%; }
.min-w-95, .min-width-95 { min-width: 95%; }

.min-w-100,
.min-w-full,
.min-width-100,
.min-width-full {
    min-width: 100%;
}

.max-w-0, .max-width-0 { max-width: 0%; }
.max-w-5, .max-width-5 { max-width: 5%; }
.max-w-10, .max-width-10 { max-width: 10%; }
.max-w-15, .max-width-15 { max-width: 15%; }
.max-w-20, .max-width-20 { max-width: 20%; }
.max-w-25, .max-width-25 { max-width: 25%; }
.max-w-30, .max-width-30 { max-width: 30%; }
.max-w-35, .max-width-35 { max-width: 35%; }
.max-w-40, .max-width-40 { max-width: 40%; }
.max-w-45, .max-width-45 { max-width: 45%; }
.max-w-50, .max-width-50 { max-width: 50%; }
.max-w-55, .max-width-55 { max-width: 55%; }
.max-w-60, .max-width-60 { max-width: 60%; }
.max-w-65, .max-width-65 { max-width: 65%; }
.max-w-70, .max-width-70 { max-width: 70%; }
.max-w-75, .max-width-75 { max-width: 75%; }
.max-w-80, .max-width-80 { max-width: 80%; }
.max-w-85, .max-width-85 { max-width: 85%; }
.max-w-90, .max-width-90 { max-width: 90%; }
.max-w-95, .max-width-95 { max-width: 95%; }

.max-w-100,
.max-w-full,
.max-width-100,
.max-width-full {
    max-height: 100%;
}



.h-0, .height-0 { height: 0%; }
.h-5, .height-5 { height: 5%; }
.h-10, .height-10 { height: 10%; }
.h-15, .height-15 { height: 15%; }
.h-20, .height-20 { height: 20%; }
.h-25, .height-25 { height: 25%; }
.h-30, .height-30 { height: 30%; }
.h-35, .height-35 { height: 35%; }
.h-40, .height-40 { height: 40%; }
.h-45, .height-45 { height: 45%; }
.h-50, .height-50 { height: 50%; }
.h-55, .height-55 { height: 55%; }
.h-60, .height-60 { height: 60%; }
.h-65, .height-65 { height: 65%; }
.h-70, .height-70 { height: 70%; }
.h-75, .height-75 { height: 75%; }
.h-80, .height-80 { height: 80%; }
.h-85, .height-85 { height: 85%; }
.h-90, .height-90 { height: 90%; }
.h-95, .height-95 { height: 95%; }

.h-100,
.h-full,
.height-100,
.height-full {
    height: 100%;
}
.h-fit,
.height-fit {
    height: fit-content;
}
.h-max,
.height-max {
    height: max-content;
}
.h-min,
.height-min {
    height: min-content;
}

.min-h-0, .min-height-0 { min-height: 0%; }
.min-h-5, .min-height-5 { min-height: 5%; }
.min-h-10, .min-height-10 { min-height: 10%; }
.min-h-15, .min-height-15 { min-height: 15%; }
.min-h-20, .min-height-20 { min-height: 20%; }
.min-h-25, .min-height-25 { min-height: 25%; }
.min-h-30, .min-height-30 { min-height: 30%; }
.min-h-35, .min-height-35 { min-height: 35%; }
.min-h-40, .min-height-40 { min-height: 40%; }
.min-h-45, .min-height-45 { min-height: 45%; }
.min-h-50, .min-height-50 { min-height: 50%; }
.min-h-55, .min-height-55 { min-height: 55%; }
.min-h-60, .min-height-60 { min-height: 60%; }
.min-h-65, .min-height-65 { min-height: 65%; }
.min-h-70, .min-height-70 { min-height: 70%; }
.min-h-75, .min-height-75 { min-height: 75%; }
.min-h-80, .min-height-80 { min-height: 80%; }
.min-h-85, .min-height-85 { min-height: 85%; }
.min-h-90, .min-height-90 { min-height: 90%; }
.min-h-95, .min-height-95 { min-height: 95%; }

.min-h-100,
.min-h-full,
.min-height-100,
.min-height-full {
    min-height: 100%;
}

.max-h-0, .max-height-0 { max-height: 0%; }
.max-h-5, .max-height-5 { max-height: 5%; }
.max-h-10, .max-height-10 { max-height: 10%; }
.max-h-15, .max-height-15 { max-height: 15%; }
.max-h-20, .max-height-20 { max-height: 20%; }
.max-h-25, .max-height-25 { max-height: 25%; }
.max-h-30, .max-height-30 { max-height: 30%; }
.max-h-35, .max-height-35 { max-height: 35%; }
.max-h-40, .max-height-40 { max-height: 40%; }
.max-h-45, .max-height-45 { max-height: 45%; }
.max-h-50, .max-height-50 { max-height: 50%; }
.max-h-55, .max-height-55 { max-height: 55%; }
.max-h-60, .max-height-60 { max-height: 60%; }
.max-h-65, .max-height-65 { max-height: 65%; }
.max-h-70, .max-height-70 { max-height: 70%; }
.max-h-75, .max-height-75 { max-height: 75%; }
.max-h-80, .max-height-80 { max-height: 80%; }
.max-h-85, .max-height-85 { max-height: 85%; }
.max-h-90, .max-height-90 { max-height: 90%; }
.max-h-95, .max-height-95 { max-height: 95%; }

.max-h-100,
.max-h-full,
.max-height-100,
.max-height-full {
    max-height: 100%;
}

.cust-h-1 {
    // 刪除 nav高度(50px)
    height: calc(100% - 50px);
    overflow-y: auto;
}

.cust-h-2 {
    // 刪除 nav高度(50px)+篩選列高度(52px)
    height: calc(100% - 102px);
    overflow-y: auto;
}

// NOTE: 文字、圖片相關
.ta-l,
.text-left {
    text-align: left;
}

.ta-c,
.text-center {
    text-align: center;
}

.ta-r,
.text-right {
    text-align: right;
}

.va-b,
.vertical-align-baseline {
    vertical-align: baseline;
}

.va-sub,
.vertical-align-sub {
    vertical-align: sub;
}

.va-super,
.vertical-align-super {
    vertical-align: super;
}

.va-tt,
.vertical-align-text-top {
    vertical-align: text-top;
}

.va-tb,
.vertical-align-text-bottom {
    vertical-align: text-bottom;
}

.va-m,
.vertical-align-middle {
    vertical-align: middle;
}

.va-t,
.vertical-align-top {
    vertical-align: top;
}

.va-b,
.vertical-align-bottom {
    vertical-align: bottom;
}

// NOTE: border相關
.bdrs-full,
.rounded-full {
    border-radius: 100%;
}

// NOTE: 定位方式相關
.pos-s,
.position-static {
    position: static;
}

.pos-r,
.position-relative {
    position: relative;
}

.pos-a,
.position-absolute {
    position: absolute;
}

.pos-f,
.position-fixed {
    position: fixed;
}

.pos-st,
.position-sticky {
    position: sticky;
}

.t-0,
.top-0 {
    top: 0;
}

.r-0,
.right-0 {
    right: 0;
}

.b-0,
.bottom-0 {
    bottom: 0;
}

.l-0,
.left-0 {
    left: 0;
}

[class*="pos"].fixed,
[class*="position"].fixed {
    position: fixed;
}

// NOTE: 屬性元素行重疊層級
.z-0, .z-index-0 { z-index: 0; }
.z-1, .z-index-1 { z-index: 1; }
.z-2, .z-index-2 { z-index: 2; }
.z-3, .z-index-3 { z-index: 3; }
.z-4, .z-index-4 { z-index: 4; }
.z-5, .z-index-5 { z-index: 5; }
.z-6, .z-index-6 { z-index: 6; }
.z-7, .z-index-7 { z-index: 7; }
.z-8, .z-index-8 { z-index: 8; }
.z-9, .z-index-9 { z-index: 9; }
.z-max, .z-index-max { z-index: 999; }
.z-10, .z-index-10 { z-index: 10; }
.z--1, .z-index--1 { z-index: -1; }
.z--2, .z-index--2 { z-index: -2; }
.z--3, .z-index--3 { z-index: -3; }
.z--4, .z-index--4 { z-index: -4; }
.z--5, .z-index--5 { z-index: -5; }
.z--6, .z-index--6 { z-index: -6; }
.z--7, .z-index--7 { z-index: -7; }
.z--8, .z-index--8 { z-index: -8; }
.z--9, .z-index--9 { z-index: -9; }
.z--10, .z-index--10 { z-index: -10; }

// NOTE: Flex相關
// ✏*: Flex direction: row
// o--
// ---
// ---
.fx-1\:9,
.flex-1\:9,
.fx-row-1\:9,
.flex-row-1\:9,
.fx-xy-start,
.flex-xy-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

// -o-
// ---
// ---
.fx-2\:9,
.flex-2\:9 .fx-row-2\:9,
.flex-row-2\:9 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

// --o
// ---
// ---
.fx-3\:9,
.flex-3\:9,
.fx-row-3\:9,
.flex-row-3\:9 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

// ---
// o--
// ---
.fx-4\:9,
.flex-4\:9,
.fx-row-4\:9,
.flex-row-4\:9,
.fx-start,
.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

// ---
// -o-
// ---
.fx-5\:9,
.flex-5\:9,
.fx-row-5\:9,
.flex-row-5\:9,
.fx-center,
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ---
// --o
// ---
.fx-6\:9,
.flex-6\:9,
.fx-row-6\:9,
.flex-row-6\:9,
.fx-end,
.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

// ---
// ---
// o--
.fx-7\:9,
.flex-7\:9,
.fx-row-7\:9,
.flex-row-7\:9 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

// ---
// ---
// -o-
.fx-8\:9,
.flex-8\:9,
.fx-row-8\:9,
.flex-row-8\:9 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

// ---
// ---
// --o
.fx-9\:9,
.flex-9\:9,
.fx-row-9\:9,
.flex-row-9\:9,
.fx-xy-end,
.flex-xy-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


// ✏*: Flex direction: column
[class*="fx-col"] {
    display: flex;
    flex-direction: column;
}

// o--
// ---
// ---
.fx-col-1\:9,
.flex-col-1\:9 {
    justify-content: flex-start;
    align-items: flex-start;
}

// -o-
// ---
// ---
.fx-col-2\:9,
.flex-col-2\:9 {
    justify-content: flex-start;
    align-items: center;
}

// --o
// ---
// ---
.fx-col-3\:9,
.flex-col-3\:9 {
    justify-content: flex-start;
    align-items: flex-end;
}

// ---
// o--
// ---
.fx-col-4\:9,
.flex-col-4\:9 {
    justify-content: center;
    align-items: flex-start;
}

// ---
// -o-
// ---
.fx-col-5\:9,
.flex-col-5\:9 {
    justify-content: center;
    align-items: center;
}

// ---
// --o
// ---
.fx-col-6\:9,
.flex-col-6\:9 {
    justify-content: center;
    align-items: flex-end;
}

// ---
// ---
// o--
.fx-col-7\:9,
.flex-col-7\:9 {
    justify-content: flex-end;
    align-items: flex-start;
}

// ---
// ---
// -o-
.fx-col-8\:9,
.flex-col-8\:9 {
    justify-content: flex-end;
    align-items: center;
}

// ---
// ---
// --o
.fx-col-9\:9,
.flex-col-9\:9 {
    justify-content: flex-end;
    align-items: flex-end;
}

// 將空白空間分配在東西之間
.fx-between,
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// 將空白空間分配在東西兩側
.fx-around,
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// 將空白剩下的空間均勻分配
.fx-evenly,
.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

// 將空白空間分配在東西兩側
.fx-col-between,
.flex-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// 將空白空間分配在東西兩側
.fx-col-around,
.flex-col-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

// 將空白剩下的空間均勻分配
.fx-col-evenly,
.flex-col-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

// NOTE: Flex - 主軸的方向
.fxd-c,
.flex-column {
    flex-direction: column;
}

.fxd-cr,
.flex-column-reverse {
    flex-direction: column-reverse;
}

.fxd-r,
.flex-row {
    flex-direction: row;
}

.fxd-rr,
.flex-row-reverse {
    flex-direction: row-reverse;
}

// ✏*: flex 主軸
/* Flex 主軸 空間 */
.jc-c,
.justify-content-center {
    justify-content: center;
}

.jc-fe,
.justify-content-end {
    justify-content: flex-end;
}

.jc-fs,
.justify-content-start {
    justify-content: flex-start;
}

.jc-sb, 
.justify-content-space-between { 
    justify-content: space-between; 
}

.jc-sa, 
.justify-content-space-around { 
    justify-content: space-around; 
}

.jc-se, 
.justify-content-space-evenly { 
    justify-content: space-evenly; 
}

.jc-s,
.justify-content-stretch { 
    justify-content: stretch; 
}

// ✏*: flex 次軸
.ai-c,
.align-items-center {
    align-items: center;
}

.ai-fe,
.align-items-end {
    align-items: flex-end;
}

.ai-fs,
.align-items-start {
    align-items: flex-start;
}

// ✏*: flex 次軸-本體
.as-a,
.align-self-auto {
    align-self: auto;
}

.as-c,
.align-self-center { align-self: center; }

.as-fe,
.align-self-flex-end { align-self: flex-end; }

.as-fs,
.align-self-flex-start { align-self: flex-start; }

.as-s,
.align-self-stretch { align-self: stretch; }


// ✏*: flex-glow - flex伸縮係數 發生條件：容器寬度 > 元素寬度
.fxg-1,
.flex-grow-1 {
    flex-grow: 1;
}
.fxg-2,
.flex-grow-2 {
    flex-grow: 2;
}
.fxg-3,
.flex-grow-3 {
    flex-grow: 3;
}
.fxg-4,
.flex-grow-4 {
    flex-grow: 4;
}
.fxg-5,
.flex-grow-5 {
    flex-grow: 5;
}

// ✏*: flex-shrink - flex伸縮係數 發生條件：元素寬度 > 容器寬度
.fxsh-1,
.flex-shrink-1 {
    flex-shrink: 1;
}
.fxsh-2,
.flex-shrink-2 {
    flex-shrink: 2;
}
.fxsh-3,
.flex-shrink-3 {
    flex-shrink: 3;
}
.fxsh-4,
.flex-shrink-4 {
    flex-shrink: 4;
}
.fxsh-5,
.flex-shrink-5 {
    flex-shrink: 5;
}

// ✏*: flex-basis -  flex 元素主軸方向的初始大小 發生條件(flex-direction)：row為width預設大小， column為height預設大小
// ✏*: 特別注意 flex-basis, height, width 一起時會以flex-basis為主
.fxb-10, .flex-basis-10 { flex-basis: 10%; }
.fxb-15, .flex-basis-15 { flex-basis: 15%; }
.fxb-20, .flex-basis-20 { flex-basis: 20%; }
.fxb-25, .flex-basis-25 { flex-basis: 25%; }
.fxb-30, .flex-basis-30 { flex-basis: 30%; }
.fxb-35, .flex-basis-35 { flex-basis: 35%; }
.fxb-40, .flex-basis-40 { flex-basis: 40%; }
.fxb-45, .flex-basis-45 { flex-basis: 45%; }
.fxb-50, .flex-basis-50 { flex-basis: 50%; }
.fxb-55, .flex-basis-55 { flex-basis: 55%; }
.fxb-60, .flex-basis-60 { flex-basis: 60%; }
.fxb-65, .flex-basis-65 { flex-basis: 65%; }
.fxb-70, .flex-basis-70 { flex-basis: 70%; }
.fxb-75, .flex-basis-75 { flex-basis: 75%; }
.fxb-80, .flex-basis-80 { flex-basis: 80%; }
.fxb-85, .flex-basis-85 { flex-basis: 85%; }
.fxb-90, .flex-basis-90 { flex-basis: 90%; }
.fxb-95, .flex-basis-95 { flex-basis: 95%; }

.fxb-100,
.fxb-full,
.flex-basis-100,
.flex-basis-full {
    flex-basis: 100%;
}
.fxb-fit,
.flex-basis-fit {
    flex-basis: fit-content;
}
.fxb-max,
.flex-basis-max {
    flex-basis: max-content;
}
.fxb-min,
.flex-basis-min {
    flex-basis: min-content;
}

// ✏*: flex-wrap - flex換行
// fxf flex-flow

// ✏*: flex-wrap - flex換行
.fxw-n, .flex-wrap-nowrap { flex-wrap: nowrap; }
.fxw-w, .flex-wrap-wrap { flex-wrap: wrap; }
.fxw-wr, .flex-wrap-reverse { flex-wrap: wrap-reverse; }

// NOTE: SVG - 相關
.pe-n,
.pointer-events-none {
    pointer-events: none;
}

.pe-a,
.pointer-events-auto {
    pointer-events: auto;
}

.pe-a_only_allowed_child,
.pointer-events-auto_only_allowed_child {
    pointer-events: none;
    * {
        pointer-events: auto;
    }
}

.pe-a_only_allowed_self,
.pointer-events-auto_only_allowed_self {
    pointer-events: auto;
    * {
        pointer-events: none;
    }
}

// NOTE: 文本 - 相關
.us-n, .user-select-none { user-select: none; }
.us-a, .user-select-auto { user-select: auto; }
.us-t, .user-select-text { user-select: text; }
.us-c, .user-select-contain { user-select: contain; }
.us-a, .user-select-all { user-select: all; }
.us-u, .user-select-unset { user-select: unset; }

// NOTE: Flex 元素的視覺順序
.ord-0, .order-0{order: 0;}
.ord-1, .order-1{order: 1;}
.ord-2, .order-2{order: 2;}
.ord-3, .order-3{order: 3;}
.ord-4, .order-4{order: 4;}
.ord-5, .order-5{order: 5;}
.ord-6, .order-6{order: 6;}
.ord-7, .order-7{order: 7;}
.ord-8, .order-8{order: 8;}
.ord-9, .order-9{order: 9;}
.ord-max, .order-max{order: 999;}
.ord-10, .order-10{order: 10;}
.ord--1, .order--1{order: -1;}
.ord--2, .order--2{order: -2;}
.ord--3, .order--3{order: -3;}
.ord--4, .order--4{order: -4;}
.ord--5, .order--5{order: -5;}
.ord--6, .order--6{order: -6;}
.ord--7, .order--7{order: -7;}
.ord--8, .order--8{order: -8;}
.ord--9, .order--9{order: -9;}
.ord--10, .order--10{order: -10;}

// TODO: CSS 共用 components
// NOTE: ---------〖image components - 圖片轉換_需要做 圖片hover切換 可在外圍下這個class〗---------
.image-toggle {
    img:nth-of-type(1) {
        display: block;
    }

    img:nth-of-type(2) {
        display: none;
    }

    &:hover,
    &.active {
        img:nth-of-type(1) {
            display: none;
        }

        img:nth-of-type(2) {
            pointer-events: none;
            display: block;
        }
    }
}
