.row{
    &:hover{
        background-color: $light_pink;
    }
}
.row-container{
    background-color: white;
    border-radius: 10px;
    padding-right: 5px;
}
.create-row-plus{
    background-color: $blue_2;
    border-radius: 5px;
    width: 3%;
    margin-left: 3%;
    cursor: pointer;
    box-shadow: 3px 3px 0 0 $blue_4;
    &:active{
        box-shadow: 1px 1px 0 0 $blue_3;
    }
    &::after{
        // width: 3vh;
        // height: 3vh;
        display: block  ;
        content: "+";
        
    }
}